<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/mypage/member/interest-distributor-list.css">
    <title>관심 업체 목록</title>
</head>

<body>
    <div class="box">
        <div class="container">
            <div class="interest-ditributor-box">
                <div id="header"></div>
                <div>
                    <h1 class="interest-ditributor-title">관심업체 목록</h1>
                    <div class="search-box">
                        <div class="search-container">
                            <img src="/static/image/serach-icon.png" class="search-icon">
                            <input type="text" placeholder="유통업체 명을 입력하세요" class="search">
                        </div>
                    </div>
                </div>
                <div class="distributor-content-box">
                    <ul>
                        <li>
                            <div class="interest-distributor-content-box">
                                <div class="interest-distributor-content-container">
                                    <div class="interest-distributor-content-image-box">
                                        <a href="#">
                                            <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png" class="no-image" alt=""> -->
                                            <img
                                                src="/static/image/t_f72e7365-87df-4806-9760-589ce2ab5f30_banner_3.png">
                                        </a>
                                        <div class="heart-box">
                                            <img src="/static/image/fill-heart.png">
                                        </div>
                                    </div>
                                    <div class="interest-distributor-all-content-box">
                                        <div class="interest-distributor-name-box">
                                            <p class="interest-distributor-name">유통업체명</p>
                                        </div>
                                        <div class="interest-distributor-introduce-box">
                                            <p class="interest-distributor-introduce">뭠머머을 전문적으로 판매를 하는 일을 하고있습니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="interest-distributor-content-box">
                                <div class="interest-distributor-content-container">
                                    <div class="interest-distributor-content-image-box">
                                        <a href="#">
                                            <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png" class="no-image" alt=""> -->
                                            <img
                                                src="/static/image/t_f72e7365-87df-4806-9760-589ce2ab5f30_banner_3.png">
                                        </a>
                                        <div class="heart-box">
                                            <img src="/static/image/fill-heart.png">
                                        </div>
                                    </div>
                                    <div class="interest-distributor-all-content-box">
                                        <div class="interest-distributor-name-box">
                                            <p class="interest-distributor-name">유통업체명</p>
                                        </div>
                                        <div class="interest-distributor-introduce-box">
                                            <p class="interest-distributor-introduce">뭠머머을 전문적으로 판매를 하는 일을 하고있습니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="interest-distributor-content-box">
                                <div class="interest-distributor-content-container">
                                    <div class="interest-distributor-content-image-box">
                                        <a href="#">
                                            <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png" class="no-image" alt=""> -->
                                            <img
                                                src="/static/image/t_f72e7365-87df-4806-9760-589ce2ab5f30_banner_3.png">
                                        </a>
                                        <div class="heart-box">
                                            <img src="/static/image/fill-heart.png">
                                        </div>
                                    </div>
                                    <div class="interest-distributor-all-content-box">
                                        <div class="interest-distributor-name-box">
                                            <p class="interest-distributor-name">유통업체명</p>
                                        </div>
                                        <div class="interest-distributor-introduce-box">
                                            <p class="interest-distributor-introduce">뭠머머을 전문적으로 판매를 하는 일을 하고있습니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>